*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2B3035;
    font-size: 15px;
}
.contenedor{
    
    width: 97%; 
    margin: 1rem auto;
    max-width: 1400px;
    min-width: 488px;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 0.10fr 0.4fr 1fr 1fr ;
    grid-template-rows: (5, auto);
    font-size: 15px;

}



.contenedor .espacio-header{
    grid-column: 1/-1;
    grid-row: 1/1;
    height: 3vh;
    
}

/* /////////////// BARRA DE CONTACTOS ///////////////////////*/




.listas-contactos-sidebar{
    font-size:15px;
    position:fixed;
    display: flex;
    flex-direction: column;
    top:9em;
    z-index:1;
}


.listas-contactos-sidebar a img{
    background-color:#363636;
    padding: 1.5em 0.5em;
    border: 1px solid white;
    border-bottom-right-radius:10px ;
    border-top-right-radius: 10px;
    display: flex;
    margin:0.25em;
    transition: .5s ease all;
}
.listas-contactos-sidebar #lista-1 img:hover{
    padding: 1.5em 5em ;
    transition: .5s ease all;
    background-color:#003580;

}
.listas-contactos-sidebar #lista-2 img:hover{
    padding: 1.5em 5em ;
    transition: .5s ease all;
    background-color:#d00023;
}
.listas-contactos-sidebar #lista-3 img:hover{
    padding: 1.5em 5em ;
    transition: .5s ease all;
    background-color:#0A66C2;
}
.listas-contactos-sidebar #lista-4 img:hover{
    padding: 1.5em 5em ;
    transition: .5s ease all;
    background-color:#4CCB5A;
}
.listas-contactos-sidebar #lista-5 img:hover{
    padding: 1.5em 5em ;
    transition: .5s ease all;
    background:linear-gradient( 130deg,
                                 #48B165 20%, 
                                 #48B165 40%, 
                                 #FCBC04 40%,
                                 #FCBC04 60%,
                                 #3081EB 60%,
                                 #3081EB 80%,
                                 #EA4335 80%,
                                 #EA4335 100%);
}


/* /////////////// BARRA DE CONTACTOS ///////////////////////*/



/* ///////////////////////////////////// */

.contenedor .header{
    
    background-color: #212529;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    border-radius: 5px;
    font-size:15px;

}

.header .texto{
    
    font-family: 'Manrope', sans-serif; 
    font-size: 1.05em;
    color:#424949; 
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    border-top: 5px solid #7a40ef;

}

.header .texto1{  
    
    margin-left: 2em;
    padding: 0.2em 0;
    color:#FFFFFF; 
    font-size: 2.6em;
} 

.header .texto2{

    font-family: 'Inconsolata', monospace;
    color:#8C949B; 
    margin-left: 2.6em;
    padding: 0.7em 0;
    font-size: 2.6em;
    
}

    
/* /////////////////////////////// */


.contenedor .contenido{

    grid-column: 3/-1;
    grid-row: 3/4;
    border-radius: 10px;
    background-color: #212529;
    font-size: 15px;
}

.contenido .Informacion-personal{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    align-items: center;
}

.persona{
    
    display:flex;
    justify-content: center;
    font-size: 2.6em;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    color:#FFFFFF; 
    margin: 0.4em 0;
    
}

.item1{
    
    width: 90%;
    height: 80%;
    border-left: 0.6em solid  #7a40ef;
    font-family: 'Nunito', sans-serif;
    
}
.item1 p{
    font-size: 1.8em;
    margin: 0.6em 0 0 3em;
    color:#A4ABB3
}



/* /////////////////////////////// */


.contenedor .Espacio-SIDEBAR{
    font-size: 15px;
    grid-column: 1/2;
    grid-row: 3/6;
    min-width: 0.2em;
    background-color: #212529;
    border-radius: 10px;

}


/* ////////////////////////////////SIDEBAR/////////////////////////////////// */


.contenedor .sidebar{
    grid-column: 2/3;
    grid-row: 1/4;
    min-width: 120px;
    background-color: #7a40ef;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 83%, 0 100%, 0 0);
    border-radius: 5px;
    font-size: 15px;
    display:flex;
    flex-direction:column;
    align-items: center; 
}


.imagen_movimiento{
    margin-top: 3em;
    width: 9em;  
}

.imagen-perfil{
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;   
}

/* ////////PERFIL/// */

.perfil{
    display: flex;
    flex-direction:column;
    align-items: center;
    color:#A4ABB3;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    
}

.perfil h2{
    
    font-family: 'Plus Jakarta Sans', 'ExtraLight 200';
    font-weight: 500;
    color:#FFFFFF;
    font-size: 2em;
    border-bottom: 1px solid white;
    margin: 1em;
    
}

.perfil span b{
    color:#A4ABB3;
    font-size:1em;
    font-weight: 600;
}

.perfil span{
    color:#cccccc;
    font-size: 0.9em;
    margin:0.5em 1em;
}


/* //////////////// SIDEBAR-1 ///////////////// */





                /* contendor-2 */

       
       
       
/* ///////////////  SIDEBAR-2   /////////////////// */

.sidebar-2 {
    grid-column: 2/3;
    grid-row: 4/6;
    height: 98%;
    min-width: 120px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #7a40ef;
    clip-path: polygon(50% 0, 100% 17%, 100% 100%, 0 100%, 0 17%);
    border-radius: 5px;
    font-size: 15px;
}

        /* ////////ESTUDIOS////////////// */

.estudios{
    display: flex;
    flex-direction:column;
    align-items: center;
    color:#A4ABB3;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    margin-top:6em ;
}

.estudios h2{
    
    font-family: 'Plus Jakarta Sans', 'ExtraLight 200';
    font-weight: 500;
    color:#FFFFFF;
    font-size: 2em;
    border-bottom: 1px solid white;
    margin: 0.4em;
    
}

.estudios span b{
    color:#A4ABB3;
    font-size:1.1em;
    font-weight: 600;
}

.estudios span{
    color:#cccccc;
    font-size: 0.8em;
    margin:0.4em 1em;
}
        /* ////////ESTUDIOS////////////// */

        /* ////////IDIOMAS////////////// */

.idiomas{
        display: flex;
        flex-direction:column;
        align-items: center;
        color:#A4ABB3;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        margin-top:2em ;
    }
        
.idiomas h2{
            
        font-family: 'Plus Jakarta Sans', 'ExtraLight 200';
        font-weight: 500;
        color:#FFFFFF;
        font-size: 2em;
        border-bottom: 1px solid white;
        margin: 0.4em;
            
    }

.idiomas span{
        color:#cccccc;
        font-size:1em;
        margin:0.4em 1em;
    }
        

        /* ////////IDIOMAS////////////// */


/* VENTANA  e-mail */

.ventana-email{
    background: rgb(0, 0, 0,.7);
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    
}
.ventana-email.active{
    visibility: visible;
}
.popup-email{
    background-color: #161717;
    width: 40%;
    color:#eeeeec;
    font-size: 15px;
    min-width: 24em;
    border-radius:5px;
    padding: 1.3em;
    border: 1px solid rgba(254, 254, 254,.7);
    opacity: 0;
    transition: .5s ease all;
    transform: scale(0.7);
}

.popup-email.active{
    opacity: 1;
    transform: scale(1);
}


.popup-email h2{
    display:block;
    text-align: center; 
    margin-bottom: 1em ;
    font-size:2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


/* //////////////////////////////////// */

.OR{

    display:flex;
    flex-direction: row;
    align-items:center ;
    width: 100%;
    justify-content: start;
    font-size: 15px;
}

.OR h3{
    
    color:#777777;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size:1em;
    margin: 0.5em 1.2em;
    
}

.OR hr{
    width: 50%;
    height: 1px;
    background-color:#E0E0E0;
    border: none;
    margin:0;
}
/* //////////////////////////////////// */



.Formulario{
    display: flex;
    flex-direction: column;
    font-size:15px
}

.leabel{
    color:#777777;
    display: flex;
    justify-content: start;
    font-size:1.5em;
    font-family: monospace;
    font-weight: 500;
    margin-bottom: 0.33em;
}

.controles{
    color:white;
    padding: 0.6em 0.5em;
    background-color: #433E43;
    outline: none;
    border-radius: 5px;  
    font-size:1.3em;
    border:1px solid rgba(200, 200, 200, 0);
    transition: 0.6s;
    
}

.controles:hover{
    background-color: #454045;
    padding: 0.6em 0.5em;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 0 0 0.25em rgba(233, 88, 253, 0.2);
}
.controles:focus{
    background-color: #454045;
    padding: 0.6em 0.5em;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 0 0 0.25em rgba(233, 88, 253, 0.2);
}

/* //////////////////// */

.Comentario{
    color:white;
    background-color: #433E43;
    font-size:1.3em;
    font-family: monospace;
    outline:none;
    transition: backgorund-color 0.6s, box-shadow 0.6s, border 0.6s;
}
.Comentario:hover{
    background-color: #454045;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 0 0 0.25em rgba(233, 88, 253, 0.2);
}
.Comentario:focus{
    background-color: #454045;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 0 0 0.25em rgba(233, 88, 253, 0.2);
}

.boton{
    color:rgb(170, 170, 170);
    background-color:#7a40ef;
    padding: 0.7em 1em;
    border-radius:5px;
    border:none;
    transition: 0.3s;
}
.boton:hover{
    background-color:#9765fd; 
}

#cerrar-ventana-email{
    text-align: 16px;
    line-height: 16px;
    display:block;
    text-align: right;     
} 

   
/* venta maps */
    
.ventana-map{
    background-color: rgba(0, 0, 0, 0.7);
    display:flex;
    justify-content: center;
    align-items: center;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
    position: fixed;
    visibility: hidden;
        
}
.ventana-map.active{
    visibility: visible;
    
}

.popup-map{

    background-color: #161717;
    width: 40%;
    color:#eeeeec;
    font-size: 15px;
    min-width: 24em;
    min-height: 15em;
    border-radius:5px;
    padding: 1.3em;
    border: 1px solid rgba(254, 254, 254,.7);
    opacity: 0;
    transition: .5s ease all;
    transform: scale(0.7);
    
    
}
.popup-map.active{
    opacity: 1;
    transform: scale(1);
}
.ventana-map h3{
    display: block;
    text-align: center;
    margin-bottom:1.5em;
    font-size:2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
/* //////////////////////////////////// */


/* //////////////////////////////////// */

    
#cerrar-ventana-map{
    text-align: 16px;
    line-height: 16px;
    display:block;
    text-align: right;     
} 
    
.mapa{
    width: 100%;
    height: 20em;
    border-radius: 4px;
}


/* /////////////////    SIDEBAR-2      /////////////////// */





/* //////////////   CONTENIDO-EXPERIENCIA   /////////////// */

.contenedores{
    grid-column: 3/5 ;
    grid-row: 4/5;
    display:flex;
    
}


.contenido-1{
    font-size:15px;
    min-width: 180px;
    margin: 0 3em 0 1em;
}

.Experiencia{
    height: 97%;
    width: 100%;
    background-color: #212529;
    margin-top:1.3em;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 0.5em 0;
    
}

.Experiencia h1{
    width: 100%;
    padding: 0.9em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    color:#e9e9e7;
    margin: 0 0 0.30em 0;  

}

.Lista-experiencia span{
    
    margin-left: 3.5em;
    list-style-type:none;
    font-size: 1.3em;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color:#A4ABB3;
    border-bottom: 3px solid  #7a40ef;

    
}

.Lista-experiencia p{
    font-size: 1em;
    padding: 1.2em 1.5em;
    font-family: 'Plus Jakarta Sans', 'ExtraLight 200';
    color:#A4ABB3;
}

/* //////////////   CONTENIDO-EXPERIENCIA   /////////////// */





/* /////////////////////CONTENIDO 2-2 /////////////////// */


/* //////////////  CONTENIDO- CONOCIMIENTO  ///////////////// */

.contenido2-3{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
}

.contenido-2{
    
    grid-column: 4/5;
    grid-row: 4/5;
    font-size: 15px;
    
}

.conocimiento{
    
    background-color: #212529  ;
    width: 100%;
    border-radius: 10px;
    margin-top:1.3em;
    padding:1em 0;

}

.conocimiento h2{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    color:#e9e9e7;
    padding: 0.2em 0;

}

.lista-conocimiento li{

    display:flex;
    justify-content:center;
    padding: 0.5em 0;
    margin-left:1em;
    width: 90%;
    font-size: 1.5em;
    font-family: 'IBM Plex Mono', monospace;
    border-left: 3px solid  #7a40ef;
    color:#A4ABB3;
    
}


/* //////////////  CONTENIDO- CONOCIMIENTO  ///////////////// */

/* ////////////////////////////// HABILIDADES ////////////////////////////////// */

.contenido-3{
    
    grid-column:4/5;
    grid-row:5/6;
    font-size:15px;
    
}

.habilidades{

    background-color: #212529;
    width:100%;
    height: 90%;
    border-radius:10px;
    padding:1em 0;
    margin-top:2em;
}

.habilidades h2{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    color:#e9e9e7;
    padding: 0.2em 0;
    
}

.lista-habilidades li{
    display:flex;
    justify-content:center;
    padding: 0.5em 0;
    margin-left:1em;
    width: 90%;
    font-size: 1.5em;
    font-family: 'IBM Plex Mono', monospace;
    border-left: 3px solid  #7a40ef;
    color:#A4ABB3;
}

            /* ////////////  @media ////////////////////////*/

@media screen and (max-width: 1225px){
       
        /* Contenido */

   .contenido .Informacion-personal{
        font-size:14px;
    }

        /* header */
    .contenedor .header{
        font-size:14px;
    }

        /* Ventana-Email */

    .popup-email{
        font-size: 14px;
    }
    .Formulario{
        font-size:14px;
    }

        /* Ventana-maps */
    .popup-map{
            font-size:14px;
    }

        /* contenido-2 */
    .contenido-2{
        font-size:14px;
    }
        
        /* contenido-3 */
    .contenido-3{
        font-size:14px;
    }


}

@media screen and (max-width: 1081px){
       
     /* Contenido */

   .contenido .Informacion-personal{
    font-size:13px;
    }
        /* header */
    .contenedor .header{
        font-size:13px;
    }

        /* Ventana-Email */

    .popup-email{
        font-size: 13px;
    }
    .Formulario{
        font-size:13px;
    }

        /* Ventana-maps */
    .popup-map{
            font-size:13px;
    }


        /* sidebar */
    .contenedor .sidebar{
        font-size:13px;
    }

        /* sidebar-2 */
    .sidebar-2 {
        font-size:13px;
    }
    
        /* contenido-1 */
    .contenido-1{
        font-size:13px;
    }
    
        /* contenido-2 */
    .contenido-2{
        font-size:13px;
    }
        
        /* contenido-3 */
    .contenido-3{
        font-size:13px;
    }


}


@media screen and (max-width: 982px){
     /* barras de contactos */
   .listas-contactos-sidebar{
    font-size:14px;
 }

    /* header */
    .contenedor .header{
        font-size:13px;
    }

     /* Ventana-Email */
    .popup-email{
        font-size: 12px;
    }
    .Formulario{
        font-size:12px;
    }

    /* Ventana-maps */
    .popup-map{
        font-size:12px;
    }
    .Formulario{
        font-size:12px;
    }

        /* sidebar */
    .contenedor .sidebar{
        font-size:12px;
    }
    .imagen_movimiento{
        margin-top: 3.4em;
    }
 
     /* sidebar-2 */
     .sidebar-2 {
        font-size:12px;
    }
    /* contenedor-2 */
    .contenido-2{
        font-size:12px;
    }
    .habilidades{
    margin-top:3em;
    }

    /* contenedor-3 */
    .contenido-3{
        font-size:12px;
    }
    .lista-habilidades li{
        font-size: 1.3em;
    }

}

@media screen and ( max-width:866px){
   /* barras de contactos */
   .listas-contactos-sidebar{
    font-size:13px;
 }
        
     /* Contenido */

    .item1 p{
        font-size:1.6em;
    }
    

    /* contenido-1 */
    
    .Lista-experiencia p{
        font-size: 0.9em;
 }
    .Experiencia h1{
        font-size: 1.8em;

}
       /* contenido-2 */
       
    .lista-conocimiento li{
        font-size: 1.2em;
    }
        
        /* contenido-3 */
    .lista-habilidades li{
        font-size: 1.2em;
    }


}


@media screen and (max-width: 794px){

    /* barras de contactos */

    .listas-contactos-sidebar{
        position:fixed;
        display: flex;
        flex-direction: row;
        opacity: 0.6;
        top:0;
        left:16em;
    }
    .listas-contactos-sidebar a img{
        padding: 0.4em 1.5em;
        border-radius: 10px;
    }
    .listas-contactos-sidebar #lista-1 img:hover{
        padding: 0.4em 1.5em;
    }
    .listas-contactos-sidebar #lista-2 img:hover{
        padding: 0.4em 1.5em;
    }
    .listas-contactos-sidebar #lista-3 img:hover{
        padding: 0.4em 1.5em;
    }
    .listas-contactos-sidebar #lista-4 img:hover{
        padding: 0.4em 1.5em;
    }
    .listas-contactos-sidebar #lista-5 img:hover{
        padding: 0.4em 1.5em;
    }

         /* contenedores */

    .contenedores{
        flex-direction:column;
    }
    


        /* Contenido */
    
    
    .contenido .Informacion-personal{
        font-size:11px;
    }



    
    /* header */
    
    .contenedor .header{
        font-size:11px;
    }
    .header .texto{
        width: 70%;
    }
    


    
    /* sidebar */
    .contenedor .sidebar{
        font-size:11px;
    }
    .imagen_movimiento{
        margin-top: 3.6em;
    }
    


    /* sidebar-2 */
    .sidebar-2 {
        font-size:11px;
    }
    .estudios{
        margin-top:12em
    }
    .idiomas{
        margin-top:6em;
    }
    

   
        /* contenido-1 */
    .contenido-1{
        width: 100%;
        font-size:14px;
        margin: 0;
        
    }
    
        /* contenido2-3 */

    .contenido2-3{
        flex-direction: row;
    }        
    
        /* contenido-2 */
    .contenido-2{

        width: 49%;
        height: 100%;
        font-size:12px;
       
    }
        
        /* contenido-3 */
    .contenido-3{
        width: 49%;
        height: 100%;
        font-size:12px;
        margin-left:0;
        
    }
    
    
    .habilidades{
        margin:1.4em 0 0 0.7em;
    }

}


@media screen and (max-width: 661px){
     /* barras de contactos */
     .listas-contactos-sidebar{
        font-size:13px;
     }
        /* contenido-1 */
    .contenido-1{
        font-size:12px;
    }
        /* contenido-2 */
    .contenido-2{
        font-size:11px;
    }
    .lista-conocimiento li{
        border-left:0;
    }
    
            
            /* contenido-3 */
    .contenido-3{
        font-size:11px;
    }

    .lista-habilidades li{
     border-left:0;
     font-size:1.1em;
            
    }
        
}

@media screen and (max-width: 614px){

    /* barras de contactos */
    .listas-contactos-sidebar{
        font-size:10px;
     }


     /* Contenido */

   .contenido .Informacion-personal{
        font-size:10px;
    }
      

        /* Ventana-Email */

    .popup-email{
        font-size: 13px;
    }
    .Formulario{
        font-size:13px;
    }

        /* Ventana-maps */
    .popup-map{
            font-size:13px;
    }


     
    
    
   

}

